# IntelliJ / Webstorm
.idea
*.iml

# Node
node_modules
npm-debug.log

# Sass
.sass-cache

# Build
.tmp

# Release
dist

# raw photo
./src/images/portfolio/jpgs/photo/raw/*
./build/images/portfolio/jpgs/photo/raw/*
