.about {
	width:100%;
	.center, .container {
		width:85%;
		max-width: 960px;
	}

	.center-box {
		height:100vh;
		min-height: 100vh;
	}

	.container {
		margin-top:-7.5vh;
	}

	article {
		height:100%;
	}
	h1, h2 {
		font-weight:700;
		font-style: italic;
		position:relative;
		letter-spacing: 0.1rem;
		span:first-child {
			font-style: normal;
			font-weight:200;
			opacity:0.3;
			font-family: $nav-font;
			bottom:0;
			font-size: 1.2rem;
			line-height: 1.2;
			position:absolute;
			left: -60px;
			width: 30px;
			text-align: right;
		}
		&:after {
			content:"";
			height:1px;
			width:30px;
			position:absolute;
			bottom:-20px;
			left:0;
			background-color: color("grey", "lighten-2");
		}
	}
	.two-col {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 2.25em;
		-moz-column-gap: 2.25em;
		column-gap: 2.25em;
	}
	h2 {
		margin: $text-size * 4 0;
	}
	h3 {
		margin: 0 0 $text-size * 3 0;
		font-weight:700;
		font-style: italic;
		position:relative;
		letter-spacing: 0.1rem;
		i {
			margin-right: 5px;
			@extend .icon-2x;
		}
	}
	.rotated-title {
		font-family: $nav-font;
		font-weight: 100;
		position:absolute;
		color:color("grey", "lighten-1");
		top: 77px;
		left: -8.7rem;
		font-size: 1.5rem;
		text-transform: uppercase;
		display:none;
		font-style: normal;
		letter-spacing: 0.3rem;
		//transform: rotate(-90deg);
	}

	.rotated-square {
		width: 350px;
		height: 350px;
		background-color: rgba(0, 0, 0, 0.02);
		position: absolute;
		left: -75px;
		display:none;
		top: 15px;
		// gsap purpose
		//transform: rotate(45deg);
	}

	h5 {
		margin:$text-size 0;
	}
	ul {
		margin: 0 0 $text-size * 2 0;
		padding-top:2.4rem;
		li {
			color:color("grey", "darken-1");
		}
	}
	.square-tag {
		margin-bottom: $text-size * 2;
	}
	.text-introduction {
		width:100%;
		color: color("grey", "darken-3");
		font-style: italic;
		//text-shadow: 2px 2px 0 #fff, 3px 3px 0 rgba(0, 0, 0, 0.1);
	}
	.icon-title {
		.icon {
			opacity:0.3;
			float:left;
			font-size: 3.2rem;
			margin-right:10px;
		}
		h1,h2,h3 {
			float:left;
		}
	}
	.bloc-intro {
		margin-bottom: $text-size * 3;
		position:relative;
		&:before {
			content:"";
			height:1px;
			width:1px;
			position:absolute;
			top:-20px;
			background-color: color("grey", "lighten-2");
			transition: width .35s ease;
		}
		&.active:before {
			width:30px;
		}
	}

	.circle-placeholder {
		width: 50%; 
		height: 350px;
		float: right;
		margin-left:-1rem; 
		border-radius: 50%;
		-webkit-shape-outside:circle();
		shape-outside:circle();
	}

	footer {
		padding-top:80px;
		padding-bottom:80px;
		h6 {
			text-align: center;
			margin:0;
			color: color("grey", "lighten-2");
		}
	}

}

.badge {
	width:100px;
	height:120px;
	//background: url("../images/portfolio/svgs/badge.svg");
	//margin-right:15px;
	float:left;
	i {
		opacity:0.2;
		font-size: 5em;
		margin-top:12px;
		display:block;
	}
}

.trust {
	.row {
		margin-left:-26px;
	}
	img {
		width: 100%;

		-webkit-filter: grayscale(100%);
		-webkit-transition: .5s ease-in-out;
		-moz-filter: grayscale(100%); 
		-moz-transition: .5s ease-in-out;
		-o-filter: grayscale(100%); 
		-o-transition: .5s ease-in-out;

		opacity:0.4;

		&:hover {
			-webkit-filter: grayscale(0%);
			-webkit-transition: .5s ease-in-out;
			-moz-filter: grayscale(0%);
			-moz-transition: .5s ease-in-out;
			-o-filter: grayscale(0%);
			-o-transition: .5s ease-in-out;
		}
	}
}

@include phablet {
	.about {
		width:100%;

		.center, .container {
			width:65%;
			max-width: 960px;
		}

		.two-col {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}
		.rotated-title {
			display:block;
		}
		ul {
			margin: 0 0 $text-size * 4 0;
			padding-top:0;
		}
		.rotated-square {
			display:block;
		}

		.text-introduction {
			width:60%;
		}


	}


}