.about {
	width:100%;
	.center, .container {
		width:85%;
		max-width: 960px;
	}
	.hidden {
		opacity:0;
		transition:all 200ms ease;
		transform: translateX(-20px);
	}
	.hidden.visible {
		opacity:1;
		transform: translateX(0px);
	}
	.center-box {
		margin-top:150px;
		height:auto;
		min-height: 100vh;
	}

	.container {
		margin-top:-1.5vh;
	}

	article {
		height:100%;
	}
	h1, h2 {
		font-weight:700;
		font-style: italic;
		position:relative;
		letter-spacing: 0.1rem;
		span:first-child {
			font-style: normal;
			font-weight:200;
			opacity:0.3;
			font-family: $nav-font;
			bottom:0;
			font-size: 2.2rem;
			line-height: 1.2;
			position:absolute;
			left: -60px;
			width: 30px;
			text-align: right;
			display:none;
		}
		&:after {
			content:"";
			height:1px;
			width:30px;
			position:absolute;
			bottom:-20px;
			left:0;
			background-color: color("grey", "lighten-2");
		}
	}
	.two-col {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 2.25em;
		-moz-column-gap: 2.25em;
		column-gap: 2.25em;
	}
	h2 {
		margin: $text-size * 4 0;
	}
	.apptitude {
		margin-bottom: 0;
	}
	h3 {
		margin: 0 0 $text-size * 3 0;
		font-weight:700;
		font-style: italic;
		position:relative;
		letter-spacing: 0.1rem;
		i {
			margin-right: 5px;
			@extend .icon-2x;
		}
	}
	.rotated-title {
		font-family: $nav-font;
		font-weight: 100;
		position:absolute;
		color:color("grey", "lighten-1");
		top: 103px;
		left: -10.9rem;
		font-size: 1.5rem;
		text-transform: uppercase;
		display:none;
		font-style: normal;
		letter-spacing: 0.3rem;
		//transform: rotate(-90deg);
	}

	.rotated-square {
		width: 350px;
		height: 350px;
		background-color: rgba(0, 0, 0, 0.02);
		position: absolute;
		left: -75px;
		display:none;
		top: 15px;
		// gsap purpose
		//transform: rotate(45deg);
	}

	h5 {
		margin:$text-size 0;
	}
	ul {
		margin: 0 0 $text-size * 2 0;
		padding-top:2.4rem;
		li {
			color:color("grey", "darken-1");
		}
	}
	.square-tag {
		margin-top: $text-size * 2;
		margin-bottom: $text-size * 2;
	}
	.text-introduction {
		width:100%;
		color: color("grey", "darken-3");
		font-style: italic;
		//text-shadow: 2px 2px 0 #fff, 3px 3px 0 rgba(0, 0, 0, 0.1);
	}
	.icon-title {
		margin-top:$text-size * 6;
		.icon {
			opacity:0.3;
			float:left;
			font-size: 3.2rem;
			margin-right:10px;
		}
		h1,h2,h3 {
			float:left;
		}
	}
	.bloc-intro {
		margin-bottom: $text-size * 3;
		position:relative;
		&:before {
			content:"";
			height:1px;
			width:1px;
			position:absolute;
			top:-20px;
			background-color: color("grey", "lighten-2");
			transition: width .35s ease;
		}
		&.active:before {
			width:30px;
		}
	}

	.circle-placeholder {
		width: 50%; 
		height: 350px;
		float: right;
		margin-left:-1rem; 
		border-radius: 50%;
		-webkit-shape-outside:circle();
		shape-outside:circle();
	}

	footer {
		padding-top:80px;
		padding-bottom:80px;
		h6 {
			text-align: center;
			margin:0;
			color: color("grey", "lighten-2");
		}
	}

}

.badge-wrapper {
	.badge {
		width:100px;
		height:120px;
		background: url("../images/portfolio/svgs/badge.svg");
		margin-right:15px;
		float:left;
		i {
			opacity:0.2;
			font-size: 5em;
			margin-top:12px;
			display:block;
		}
	}
	b, span {
		display:block;
		line-height: 1.3;
	}
	b {
		margin-bottom: 0;
	}
	span {
		font-family: $nav-font;
		margin-top:0px;
		opacity:0.5;
	}
}

.trust {
	.row {
		margin-left:-26px;
		.cell {
			flex: 0 0 60%;
			&>div {
				margin: 0;
			}
		}
	}
	img {
		width: 100%;

		transition: all .2s ease-in-out;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%); 
		-o-filter: grayscale(100%); 
		filter: grayscale(100%); 
		opacity:0.4;

	}
	.cell:hover img {
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
	}
}


@include tablet {
	.about {
		.center-box {
			margin-top:60px;
		}
	}
}

@include phablet {
	.about {
		width:100%;
		.apptitude {
			margin-bottom: $text-size * 6 !important;
		}
		.center, .container {
			width:65%;
			max-width: 960px;
		}
		.container {
			margin-top:-7.5vh;
		}
		h1 ,h2 {
			span:first-child {
				display:inline-block;
			}
		}
		.icon-title {
			margin-top:$text-size * 2!important;
		}
		.center-box {
			margin-top:0px;
			height:100vh;
			min-height: 100vh;
		}
		.two-col {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}
		.rotated-title {
			display:block;
		}
		.icon-title {
			margin-top:0;
		}
		.square-tag {
			margin-top: 0;
			margin-bottom: $text-size * 2;
		}
		ul {
			margin: 0 0 $text-size * 4 0;
			padding-top:0;
		}
		.rotated-square {
			display:block;
		}

		.text-introduction {
			width:60%;
		}
	}
	.trust {
		.row {
			.cell {
				flex: 0 0 20%;
				&>div {
					margin: auto;
				}
			}
		}
	}
}