.blog {

	svg {
		margin-top:125px;
		margin-bottom:0px;
		margin-left:calc(50% - 225px);
		display: block;
		scale:0.7;
		@extend .levitation;
	}

	.articles-of-the-year {
		position:relative;
		margin-bottom:$text-size * 3;
		&>header h2 {
			font-family: $nav-font;
			font-weight: 100;
			position:absolute;
			transform: rotate(-90deg);
			color:color("grey", "lighten-1");
			top: 10px;
			left: -9.2rem;
			font-size: 2rem;
			letter-spacing: 0.3rem;
		}
	}

	article {

		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		transition:all 200ms ease-in-out;
		position:relative;
		&:after {
			content:"";
			clear:both;
		}
		a {
			color: $color-primary;
			font-weight: 600;
			border-bottom: 1px solid color("grey", "lighten-1");
			&:focus, &:hover {
				text-decoration: none;
				border-bottom: 1px solid color("grey", "darken-2");
			}
		}
		&>header {
			margin-left:0px;
			width: 100%;
			height: 50px;
			cursor:pointer;
			@extend .unselectable;
			&:after {
				content:"";
				width:100%;
				position:absolute;
				height:1px;
				background-color: #f7f7f7;
				content:0;
				top: 29px;
				z-index: -1;
				left:0;
			}
			.date {
				float:right;
				background-color: white;
				padding-left:$text-size * 2;
				h4 {
					color:color("grey", "base");
					font-weight: 200;
					font-family: $nav-font;
					letter-spacing: 0.1rem;
					transition: color .4s ease;
					@extend .unselectable;
				}
				
			}
			.sub-header {
		      	float:left;
				background-color: white;
				padding-right:$text-size * 2;
				h3{
					@extend .unselectable;
					padding-top:10px;
					margin: 0;
					font-weight: 600;
					letter-spacing: 0.1rem;
					line-height:4rem;
					//font-style: italic;
					background-image: linear-gradient(180deg,rgba(0, 0, 0, 0) 98%,color("primary", "lighten-2") 0);
					margin-bottom:$text-size * 2;
					display:inline-block;
					background-size: 0 100%;
					background-repeat: no-repeat;
					text-decoration: none;
					transition: background-size .4s ease, opacity .35s ease;
				}
			}
			&:hover .sub-header h3 {
				background-size: 100% 100%;
				cursor: pointer;
			}

		}
		.article-content {
			margin-bottom: $text-size * 10;
		}	
	}

	hr {
		margin-top:$text-size * 2;
		opacity:0.5;
	}

	p {
		//margin-top: $text-size * 2;
		margin-bottom:$text-size * 2;
	}

	.container {
		width:85%;
		margin: 0 auto;
		&.hover-wrapper-active {
			.article-of-the-year>header h2 {
				color:color("grey","base");
			}
		}
		&.hover-wrapper-active article:not(.hover-active) {
			.sub-header h3 {
				//opacity:0.8;
			}
		}
		.article-wrapper.open {
			.sub-header h3 {
				background-size: 100% 100%;
				cursor: pointer;
			}

		}
	}
}

@include phablet {
	.blog {
		svg {
			margin-top:140px;
			margin-bottom:100px;
			scale:1;
		}
	}
	.blog .container {
		width: 55%;
	}

}
