@keyframes levitate{
	0% {
	    transform: translateY(-10px);
	}
	50% {
	    transform: translateY(0px);
	}
	100%{
	    transform: translateY(-10px);
	}

}

.levitation {
	animation: levitate 3s alternate ease-in-out infinite; 
}

.blog {
	svg {
		margin-top:125px;
		margin-bottom:0px;
		margin-left:calc(50% - 225px);
	    display: block;
	    scale:0.7;
	    @extend .levitation;
	}

	.container {
		width:85%;
		margin: 0 auto;
		h2 {
			//@include subtle-underlined();
			transition:all 200ms ease-in-out;
		}
	}
	hr {
		margin-top:$text-size * 2;
		opacity:0.5;
	}
	.square-tag {
		margin-bottom: $text-size / 2;
	}
	p {
		//margin-top: $text-size * 2;
		margin-bottom:$text-size * 2;
	}
	.cell {
		width: 100%;
		margin: 0 auto;
		header {
			margin-left:0px;
		}
	}
	.cell-img {
		width:100%;
		padding-bottom: 25%;
		background-color: #f8f8f8;
		filter: brightness(0.7);
		filter: brightness(0.7);

	}
	a {
		color: $color-primary;
		font-weight: 600;
		border-bottom: 1px solid color("grey", "lighten-1");
		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid color("grey", "darken-2");
		}
	}
	&>footer {
		padding-top:80px;
		padding-bottom:80px;
		h6 {
			text-align: center;
			margin:0;
			color: color("grey", "lighten-2");
		}
	}

	header {

	  .sub-header {
	      float:left;
	    h2 {
	      //text-shadow: 2px 2px 0 white, 3px 3px 0 rgba(0,0,0,0.1);
	      display:block;
	      padding-top:14px;
	      margin: 0;
	      font-weight: 600;
		  letter-spacing: 0.1rem;
		  font-style: italic;
	    }
	    h5 {
	      margin: 5px 0 5px 0;
	      float:left;
	      span{
	      	color:rgba(0,0,0,0.25);
	      }
	    }
	  }


	  .square-date {
	    box-sizing:border-box;
	    padding:15px;
	    border-left: 1px solid rgba(0,0,0,0.05);
	    //border-left:transparent;
	    //background-color: rgba(0,0,0,0.05);
	    display:none;
	    float:right;
	    h1,h2,h3,h4,h5,h6 {
	      font-family:"Open Sans";
	      text-align:center;
	      margin: 0 auto;
	    }
	    h4, h5 {
	      font-family:"Open Sans";
	      display:block!important;
	      color:rgba(0,0,0,0.6);
	     }
	    h4 {
	      text-transform: uppercase;
	      letter-spacing:0.25rem;
	    }
	    h5 {
	      margin-top:5px;
	      letter-spacing:0.15rem;
	    }
	  }
	  
	}

}


@include phablet {
	.blog {
		svg {
			margin-top:140px;
			margin-bottom:100px;
			scale:1;
		}
	  	.square-date {
	    	display:block!important;
	    }
	    .cell header {
	    }
	}
	.blog .container {
		width: 65%;
	}

}

