.blog-article {
	height:100%;
	.fixed-background-reader {
		width:100%;
		display:flex;
		height:70%;
		text-align: center;
	}
	.fixed-background {
		text-align: center;
	}
	.container {
		width:65%;
		margin: 0 auto;
		margin-top: $text-size * 4;
	}
}