.blog {
	margin-top:150px;
	.container {
		width:85%;
		margin: 0 auto;
		h2 {
			//@include subtle-underlined();
			transition:all 200ms ease-in-out;
		}
	}
	hr {
		margin-top:$text-size * 5;
	}
	.square-tag {
		margin-bottom: $text-size / 2;
	}
	p {
		margin-top: $text-size / 2;
		margin-bottom:$text-size * 2;
	}
	.cell {
		width: 80%;
		margin: 0 auto;
	}
	.cell-img {
		width:100%;
		padding-bottom: 25%;
		background-color: #f8f8f8;
		filter: brightness(0.7);
		-webkit-filter: brightness(0.7);

		h6 {
			margin-top: $text-size;
			margin-left: $text-size;
		}
	}
	a {
		color: $color-primary;
		font-weight: 600;
		border-bottom: 1px solid color("grey", "lighten-1");
		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid color("grey", "darken-2");
		}
	}
	&>footer {
		padding-top:80px;
		padding-bottom:80px;
		h6 {
			text-align: center;
			margin:0;
			color: color("grey", "lighten-2");
		}
	}

}


@include phablet {
	.blog {
		margin-top:250px;
	}
	.blog .container {
		width: 65%;
	}
}

