.galleries {
	width:100%;
	height:100%;
	position:relative;
	.content {
		display:flex;
		width:100%;
		height:100%;
		.gallery-list {
			margin: auto;
			width:100%;
			text-align: center;
			.header {
				h3 {
					font-family: $nav-font;
					font-weight: 100;
					color:color("grey", "lighten-1");
					top: 10px;
					text-transform: uppercase;
					font-size: 1.5rem;
					letter-spacing: 0.3rem;
					position:relative;
					display: inline-block;

					&:before, &:after {
						content:"";
						width:30px;
						position:absolute;
						height:1px;
						background-color: #f7f7f7;
						top:13px;
					}

					&:before {
						left: -45px;
					}

					&:after {
						right: -45px;
					}

				}
			}
		}
		.gallery-link {
			width:100%;
			overflow: hidden;
			position:relative;
			height:120px;
			h1 {
				@include modular-scale(4, $title-size, $ratio);
				color: color("grey", "darken-3");
				text-align: center;
				transition: all .35s ease;
				font-weight: 600;
				font-style: italic;
				cursor:pointer;
			}
			span {
				display:block;
				position:absolute;
				bottom:-30px;
				margin:0 auto;
				text-align: center;
				margin-left:50%;
				text-transform: uppercase;
				transform: translateX(-50%);
				transition: all .35s ease;
			}
			&.active {
				h1 {
					color: white;
				}
				span {
					bottom:0px;
				}
			}
		}
	}

	.cover {
		position:absolute;
		z-index: -1;
		width:100%;
		height:100%;
		top:0;
		left:0;
	    background-size: cover;
	    background-position: center;
	    transition: all .35s ease;
		filter: brightness(0.5);
		-webkit-filter: brightness(0.5);
	    &.black {
	    	background-image: url('../images/portfolio/jpgs/photos/large/1.jpg');
	    }
	    &.nature {
	    	background-image: url('../images/portfolio/jpgs/photos/large/2.jpg');
	    }
	    &.travel {
	    	background-image: url('../images/portfolio/jpgs/photos/large/3.jpg');
	    }
	}
    &.active {
    	&.cover {
    		opacity:1;
    	}
    }
}