

@keyframes bounce {
	0%, 25%, 100% {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
	}
	12% {
			-webkit-transform: translate(0, -15px);
			transform: translate(0, -15px);
	}
}

.intro {
	h4 {
		@include modular-scale(-1, $title-size, $ratio);
	}
	&>div {

	}
}

.intro {
	width:100%;
	height:100%;
	display:flex;
	overflow:hidden;
	&>div {
		perspective:1200px;
		position:relative;
		margin: auto;
		margin-left: calc( 50% - 250px);
		text-align: center;
		color: color("grey", "lighten-3");
		.text {
			position:absolute;
			top: 120px;
			left: 0px;
			width:500px;
			height:500px;
		}
		h4 {
			font-family: $nav-font;
			//letter-spacing: .1rem;
			margin-top:28px;
			@extend .h5;
		}
		h1 {
			margin-top:59px;
			text-shadow: 2px 2px 0 white, 3px 3px 0 rgba(0,0,0,0.1);
		}
		h5 {
			font-family: $nav-font;
			//letter-spacing: .1rem;
			margin-top:65px;

		}
	}



	.cta {
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		width:150px;
		height: 100px;
    	overflow: hidden;
		margin: 0 auto;
		font-size: modular-scale(0, $text-size, $ratio);
		display:inline-block;
		white-space: nowrap;
		background:transparent;
		border: none;
		color: color("primary", "base");
		padding: 1em;
		transition:all 200ms ease;
		opacity:0;
		span {
			transition: all 200ms ease;
			//opacity:0.6;
		}
		span.arrow-down {
			background-image: url("../images/portfolio/svgs/arrow_down.svg");
			background-repeat: no-repeat;
			width:44px;
			height:44px;
			display:block;
			margin: 0 auto;
			margin-top:10px;
			opacity:1;
			transition: all 350ms ease;
		}
		&:hover {
			span {
				//opacity:1;
			}
			span.arrow-down {
				animation:none;
				transform: translateY(10px);
			}
		}
		&.active {
			span.arrow-down {
				animation:none;
				transform: translateY(25px);
				opacity:0;
			}
		}
	}
}

.intro {
	&>div {
		scale:0.7;
	}
}


@include phablet {
	.intro {
		h4 {
			@include modular-scale(0, $title-size, $ratio);
		}
		&>div {
			scale:1;
		}
	}
}
