

@keyframes bounce {
	0%, 25%, 100% {
			-webkit-transform: translate(0, 0);
			transform: translate(0, 0);
	}
	12% {
			-webkit-transform: translate(0, -15px);
			transform: translate(0, -15px);
	}
}

.intro {
	h4 {
		@include modular-scale(-1, $title-size, $ratio);
	}
	&>div {

	}
}

.intro {
	width:100%;
	height:100%;
	display:flex;
	overflow:hidden;
	position: absolute;
	top:0;
	.center {
		position:relative;
		margin: auto;
		text-align: center;
		color: color("grey", "lighten-3");
		z-index: 4;
		.text {
			position:absolute;
			top: 120px;
			left: 0px;
			right:0px;
			width:500px;
			height:500px;
			margin: 0 auto;
		}
		h4 {
			font-family: $nav-font;
			margin-top:28px;
			@extend .h5;
		}
		h1 {
			margin-top:59px;
			text-shadow: 2px 2px 0 white, 3px 3px 0 rgba(0,0,0,0.1);
		}
		h5 {
			font-family: $nav-font;
			//letter-spacing: .1rem;
			margin-top:65px;

		}
	}

	.background-1 {
		z-index: 1;
	}

	.background-2 {
		z-index: 2;
	}

	.background-3 {
		z-index: 3;
	}

	.cta {
		z-index: 5;
		display:inline-block;
		width:200px;
		position:absolute;
		bottom:-20px;
		left:0;
		right:0;
		margin: 0 auto;
		opacity:0;
	}
}

.intro {
	.center {
		scale:0.7;
	}
}


@include phablet {
	.intro {
		h4 {
			@include modular-scale(0, $title-size, $ratio);
		}
		.center {
			scale:1;
		}
	}
}
