$base-index: 1985;

#logo {
	position:fixed;
	left:25px;
	top:25px;
	width:32px;
	height:32px;
	background-image: url('../images/portfolio/svgs/logo.svg');
	background-size: cover;
	z-index: $base-index + 11;
	opacity:0.1;

}


.alternative-nav {
	display:block;
	position:fixed;
	top:25px;
	right:25px;
	z-index: $base-index + 10;

	li {
		display:inline-block;
		margin-right: 20px;
		a {
			color: color("primary", "base");
			font-weight: 200;
			opacity:0.3;
			letter-spacing: .15em;
			transition: all .35s ease;
			&:hover {
				opacity:0.8;
			}
		}
		&.active a {
			opacity:1;
		}
	}
}