$base-index: 1;
$large-img-ratio: 1/2;
$medium-img-ratio: 1/3;
$small-img-ratio: 1/4;

/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */

.project-wrapper {
	width:100%;
	height:100%;
	display:flex;
}
.project {
	animation:fadeIn;
	animation-duration:300ms;
	width: 70%;
	margin: auto;
	padding-top:120px;
	text-align: center;
	.title-wrapper {
		margin-top:0px;
	}
	.cell {
		flex: 0 0 100%;
	}
	.content-wrapper {
		margin-top:$text-size * 0.45;
		//margin-bottom: $text-size * 6;
	}
	h1{
		letter-spacing: .1rem;
		margin-bottom:$text-size * 2;
		text-shadow: 2px 2px 0 white, 3px 3px 0 rgba(0,0,0,0.1);
		font-weight: 600;
    	font-style: italic;
    	width:90%;
	}
	h5 {
		font-style: italic;
		letter-spacing: .05rem;
		margin-bottom:$text-size * 2;
	}
	p {
		margin: 0;
		width:100%;
		margin-bottom:$text-size * 2;
	}
	a.special-button {
		transform:translateX(0px);
		transition: transform .35s ease;
		&:hover {
			transform:translateX(0px);
		}
	}
	.square-tag {
		margin-bottom: $text-size;
	}
	.img-wrapper {
		position:relative;
		width:100%;
		display:flex;
		.perspective-wrapper {
			margin: auto;
			width:100%;
			height:50%;
			perspective:1200px;
			transition: -webkit-filter 200ms ease;
		}
	}
	.site-link {
		margin: auto;
		transition: all 350ms ease;
		display:inline-block;
		padding: 10px 20px;
		margin-bottom:20px;
		background-color: white;
		border: 1px solid color("primary", "darken-1");
		color: color("primary", "darken-1");
		text-align: center;
		text-transform: uppercase;
		font-family: $nav-font;
		transition: color .35s ease, background-color .35s ease;
		&:hover {
			background-color: color("primary", "darken-1");
			color: white;
		}
	}
	.img-article {
		box-shadow: 1px 0px 0 #fff,0 0 10px rgba(0,95,99,0.2);
		position:absolute;
		&.img-article-0 {
			@extend .unselectable;
			display:none;
			opacity:0;
			width: 100%;
			right:0px;
			left:0px;
			margin: 0 auto;
			top:0px;
		}
		&.img-article-1 {
			@extend .unselectable;
			display:none;
			width: 105px;
			height:125px;
			right:65px;
			top:170px;
		}
	}
	.project-year {
		font-family: $nav-font!important;
		font-size: 42vw;
		font-weight: 800;
	    position: fixed;
	    top: 50%;
	    left: 0;
	    z-index: $base-index - 100;
	    color:#fcfcfc;
	    @extend .unselectable;
	}
	header {
		text-align:center;
		h1 {
			width:100%;
			font-weight: bold;
		}
	}
	.prev-project, .next-project {
		transition:all 200ms ease-in-out;
		position:fixed;
		top:50%;
		border:none;
		text-decoration: none;
		opacity:1;
		display:none;
		margin: 1em;
		padding: 0;
		border: none;
		color: #286aab;
		font-size: 1.4em;
		overflow: visible;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		span {
			background-repeat: no-repeat;
			width:38px;
			height:38px;
			display:block;
		}
		i {
			display: block;
			@include modular-scale(3, $title-size, $ratio);
			opacity:0.2;
		}
		&:focus, &.active {
			outline: none;
			color: #3c8ddc;
		}
		&::after {
			border: 2px solid rgba(color("primary", "base"), 0.6);
			position: absolute;
			top: 48%;
			left: 60%;
			margin: -35px 0 0 -35px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			content: '';
			opacity: 0;
			pointer-events: none;
		}
		&.active::after {
			-webkit-animation: anim-effect-jelena 0.3s ease-out forwards;
			animation: anim-effect-jelena 0.3s ease-out forwards;
		}

	}
	.next-project {
		right:40px;
		span {
			background-image: url("../images/portfolio/svgs/arrow_right.svg");
		}
		&::after {
			left: 50%;
		}
		&:hover {
			transform:translateX(10px);
		}
	}
	.prev-project {
		left:40px;
		span {
			background-image: url("../images/portfolio/svgs/arrow_left.svg");
		}
		&:hover {
			transform:translateX(-10px);
		}
	}
	a:not(.prev-project):not(.next-project):not(.special-button) {
		color: $color-primary;
		font-weight: 600;
		border-bottom: 1px solid color("grey", "lighten-1");
		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid color("grey", "darken-2");
		}
	}
}

@include phone {
	.project {
		padding-top:20px;
	}
}

@include desktop {
	.project {
		text-align: left;
		padding-top:0px;
		.cell {
			margin-right:30px;
		}
		header {
			text-align:left;
			h1 {
				margin:0;
				margin-bottom:$text-size * 2;
				width:90%;
				text-align:left;
			}
		}
		p {
			width:90%;
		}
		.cell {
			flex: 1;
		}
		a.special-button {
			transform:translateX(-20px);
		}
		.img-article-0 {
			display:block!important;
		}
		.prev-project, .next-project {
			display:inline-block;
		}
	}
}

@include hd {
	.img-article-0 {
    	margin-top: -30px!important;
	}
	.img-article-1 {
    	margin-top: -30px!important;
		display:block!important;
	}
}