$base-index: 1;
$large-img-ratio: 1/2;
$medium-img-ratio: 1/3;
$small-img-ratio: 1/4;

/* Other aspect ratios to try:
 * 56.25% = 16:9
 * 75% = 4:3
 * 66.66% = 3:2
 * 62.5% = 8:5
 */

.project-wrapper {
	width:100%;
}
.project {
	animation:fadeIn;
	animation-duration:300ms;
	width: 70%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 50px;
	.title-wrapper {
		margin-top:150px
	}
	.content-wrapper {
		margin-top:$text-size * 0.45;
		margin-bottom: $text-size * 6;
	}
	h1{
		letter-spacing: .1rem;
		margin-bottom:$text-size * 2;
		text-shadow: 2px 2px 0 white, 3px 3px 0 rgba(0,0,0,0.1);
		font-weight: 600;
    	font-style: italic;
    	width:90%;
	}
	h5 {
		font-style: italic;
		letter-spacing: .05rem;
		margin-bottom:$text-size * 2;
	}
	p {
		margin: 0;
		width:90%;
		margin-bottom:$text-size * 2;
	}
	a.special-button {
		transform:translateX(-20px);
		transition: transform .35s ease;
		&:hover {
			transform:translateX(0px);
		}
	}
	.img-wrapper {
		position:relative;
		width:100%;
		margin-top:200px;
		display:block;
		.perspective-wrapper {			
			perspective:1200px;
			transition: -webkit-filter 200ms ease;
		}
	}
	.site-link {
		margin: auto;
		transition: all 350ms ease;
		display:inline-block;
		padding: 10px 20px;
		margin-bottom:20px;
		background-color: white;
		border: 1px solid color("primary", "darken-1");
		color: color("primary", "darken-1");
		text-align: center;
		text-transform: uppercase;
		font-family: $nav-font;
		transition: color .35s ease, background-color .35s ease;
		&:hover {
			background-color: color("primary", "darken-1");
			color: white;
		}
	}
	.img-article {
		box-shadow: 1px 0px 0 #fff,0 0 10px rgba(0,95,99,0.2);
		position:absolute;
		&.img-article-0 {
			opacity:0;
			width: 100%;
			right:0px;
			left:0px;
			margin: 0 auto;
			top:0px;
		}
		&.img-article-1 {
			width: 105px;
			height:125px;
			right:65px;
			top:170px;
		}
	}
	.project-year {
		font-family: $nav-font!important;
		font-size: 42vw;
		font-weight: 800;
	    position: fixed;
	    top: 50%;
	    left: 0;
	    z-index: $base-index - 100;
	    color:#fcfcfc;
	    @extend .unselectable;
	}
	header {
		text-align:left;
		h1 {
			font-weight: bold;
		}
	}
	.prev-project, .next-project {
		transition:all 200ms ease-in-out;
		position:fixed;
		top:50%;
		i {@include modular-scale(3, $title-size, $ratio); opacity:0.2; }
		border:none;
		text-decoration: none;
		opacity:1;
		display:none;
	}
	.next-project {
		right:40px;
		span {
			background-image: url("../images/portfolio/svgs/arrow_right.svg");
			background-repeat: no-repeat;
			width:46px;
			height:38px;
			display:block;
		}
		&:hover {
			transform:translateX(10px);
			text-decoration: none;
		}
	}
	a:not(.prev-project):not(.next-project):not(.special-button) {
		color: $color-primary;
		font-weight: 600;
		border-bottom: 1px solid color("grey", "lighten-1");
		&:focus, &:hover {
			text-decoration: none;
			border-bottom: 1px solid color("grey", "darken-2");
		}
	}
	.prev-project {
		left:40px;
		span {
			background-image: url("../images/portfolio/svgs/arrow_left.svg");
			background-repeat: no-repeat;
			width:44px;
			height:44px;
			display:block;
		}
		&:hover {
			transform:translateX(-10px);
			text-decoration: none;
		}
	}
}

@include phablet {
	.project {
		.prev-project, .next-project {
			display:block!important;
		}
	}
}