$circle-size: 15px;
$circle-hover-ratio: 1.5;
$border-ratio: 1;
$dash-lenght: 50px;
$base-index: 0;
$line-color: rgba(0,0,0,0.2);

.timeline {
	margin-top:250px;
	&>.row {
		padding-bottom:120px;
	}
	.cell {
		width: 80%;
		margin: 0 auto;
		text-align: center;
		padding-left:0;
		:before {
			display:none;
		}
		.cell-wrapper {
			margin: 1em;
		}
		h2 {
			display: inline-block;
			letter-spacing: .1rem;
			font-weight: 600;
			font-style: italic;

		}
		img {
			display:none;
		}

	}

	.year, .this-year {
	    display: none;
	    padding: 10px 15px;
	    font-size: $text-size;
	    font-family: $nav-font;
	    border: 1px solid $line-color;
	    background-color: #FFF;
	    color:color("grey", "darken-4");
		text-transform: uppercase;
		letter-spacing: .1rem;
		margin-left: 13px;
		margin-bottom: 40px;
		&.visible {
			display: inline-block;
		}
	}

	.year {
		margin-left: 0px;
	}

	.this-year {
		position:relative;
		width:66px;
		height: 36px;
		overflow: hidden;
		opacity:0;
		transition: all .2s ease;
		margin: 0 auto;
		span {
			transform: translateY(0px);
			position:absolute;
			margin: 0 auto;
			transition: all .2s ease;
		}
		span:first-child {
			transform: translateY(-36px);
			width:130px;
			margin-left:-33px;
		}
		span:last-child {
			transform: translateY(0px);
			margin-left:0px;
		}
		&.active {
			width: 133px;
			span:first-child {
				transform: translateY(0px);
				margin-left:0px;
			}
			span:last-child {
				transform: translateY(36px);
				margin-left:33px;
			}
		}
	}
}


@include phablet {

	.timeline {
		width: 80%;
		margin: 0 auto;
		margin-top:250px;
		position:relative;
		.line {
			content:"";
			z-index: $base-index - 2;
			position:absolute;
			width: 50%;
			top: 0px;
			left:0;
			height:100%;
			margin-top:2.56em;
			border-right:1px solid $line-color;
		}
		.year {
		    position: absolute;
		    text-align: center;
		    left: 50%;
		    top:-30px;
		    padding: 10px 15px;
		    margin-left: -36px;
		    margin-bottom: 0px;
		}

		.this-year {
			&.clicked {
				opacity:0!important;
			}
		}

		.cell {
			opacity:0;
			transition:all 200ms ease;
			padding-left:2.4rem;
			.cell-wrapper {
				margin: 3em 40px 0px 3em;
			}
			&.addPlaceForYear {
				margin-top:50px;
			}
			.data {
				transition:all 500ms ease;
				h2,h5,p,span {
					opacity:1;
				}
			}
			h2{
				letter-spacing: .1rem;
				font-weight: 600;
				font-style: italic;
				background-image: linear-gradient(180deg,rgba(0, 0, 0, 0) 50%,color("primary", "lighten-3") 0);
				margin-bottom:$text-size * 2;
				display:inline;
				background-size: 0 100%;
				background-repeat: no-repeat;
				text-decoration: none;
				transition: background-size .4s ease;
			}
			&>div:hover h2 {
				background-size: 100% 100%;
				cursor: pointer;
			}
			h5 {
				//font-weight: bold;
				font-style: italic;
				letter-spacing: .05rem;
				margin-bottom:$text-size * 2;
			}
			p {
				margin-bottom:0;
			}
			span {
				margin-top:$text-size * 2;
				color:color("grey", "base");
			}
			text-align:left;
			width:50%;
			position:relative;
			z-index: $base-index + 2;
			perspective:1200px;
			&:before {
				content:"";
				z-index: $base-index - 1;
				position:absolute;
				width:$dash-lenght;
				top:0;
				left:0;
				height:1px;
				margin-top:75px;
				border-top:1px solid $line-color;
			}
			.circle {
				z-index: $base-index + 2;
				width:$circle-size;
				height:$circle-size;
				border-radius: 50%;
				background-color: rgba(color("primary","darken-3"), 0.9);
				position:absolute;
				top:75px;
				left:50%;
				opacity: 0.5;
				margin-top:-$circle-size / 2;
				margin-left:-$circle-size / 2;
				box-shadow:
				    0 0 0 ($circle-size / 2) * $border-ratio / 1.68 rgba(color("primary","darken-2"),0.6),
				    0 0 0 ($circle-size / 1) * $border-ratio / 1.68 rgba(color("primary","darken-1"),0.6);
				transition:all 100ms ease-in-out;
				&::after {
					position: absolute;
					top: 49%;
					left: 49%;
					width: 2%;
					height: 2%;
					border-radius: 50%;
					content: '';
					background-color: color("primary", "darken-4");
					text-indent: 0;
					opacity: 1;
					transition: all .2s ease;
				}
			}
			img {
				display:block;
				position:absolute;
				right:50px;
				opacity:1;
				width:30%;
				top:75px;
				transform: rotateX(0deg) rotateY(0deg) translateX(0px);
				transition: all 350ms ease;
			}
			&>div:hover img {
				opacity:1;
				transform: rotateX(0deg) rotateY(-20deg) translateX(-20px);
			}
			&>div:hover .circle{
				width:$circle-size * $circle-hover-ratio;
				height:$circle-size * $circle-hover-ratio;
				margin-top:-$circle-size * $circle-hover-ratio / 2;
				margin-left:-$circle-size * $circle-hover-ratio / 2;
				&::after {
					top: 25%;
					left: 25%;
					width: 50%;
					height: 50%;
				}
			}
		}

		.cell:nth-child(2n) {
			padding-left:55%;
			&:before {
				margin-left:50%;
			}
			img {
				left: 50px;
			}
			&>div:hover img {
				transform: rotateX(0deg) rotateY(20deg) translateX(20px);
			}
			.clicked .data{
				transform:translateX(100px)!important;
				h2,h5,p,span {
					opacity:0;
				}
			}
		}
		.cell:nth-child(2n + 1) {
			text-align:right;
			padding-right:55%;
			&:before {
				margin-left:calc(50% - #{$dash-lenght});
			}
			.clicked .data{
				transform:translateX(-100px)!important;
				h2,h5,p,span {
					opacity:0;
				}
			}
		}
	}

	.timeline.clicked {
		.cell>div:not(.clicked) {
			opacity:0;
		
		}
		.cell>div.clicked {
			h2,h5,p,span {
				transition:all 100ms ease;
				opacity:1;
			}
		
		}
		header, .circle, .cell:before {
			opacity:0!important;
		}

		.circle {
			transform:scale(0);
		}
		.line {
			opacity:0!important;
		}
	}

}
