@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?he07v0');
    src:    url('fonts/icomoon.eot?he07v0#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?he07v0') format('truetype'),
        url('fonts/icomoon.woff?he07v0') format('woff'),
        url('fonts/icomoon.svg?he07v0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cup:before {
    content: "\e91d";
}
.icon-tools:before {
    content: "\e91b";
}
.icon-design:before {
    content: "\e91c";
}
.icon-letter:before {
    content: "\e915";
}
.icon-cv:before {
    content: "\e918";
}
.icon-toolbox:before {
    content: "\e919";
}
.icon-keyboard:before {
    content: "\e900";
}
.icon-video_games:before {
    content: "\e901";
}
.icon-mouse_scroll:before {
    content: "\e902";
}
.icon-mouse_click:before {
    content: "\e903";
}
.icon-left_or_right:before {
    content: "\e904";
}
.icon-bulb:before {
    content: "\e905";
}
.icon-social:before {
    content: "\e906";
}
.icon-link:before {
    content: "\e907";
}
.icon-hidden_eye:before {
    content: "\e908";
}
.icon-visible_eye:before {
    content: "\e909";
}
.icon-globe:before {
    content: "\e90a";
}
.icon-pen2:before {
    content: "\e90b";
}
.icon-map_marker:before {
    content: "\e90c";
}
.icon-rounded_pin:before {
    content: "\e90d";
}
.icon-pin:before {
    content: "\e90e";
}
.icon-photo:before {
    content: "\e90f";
}
.icon-zoom_out:before {
    content: "\e910";
}
.icon-zoom_in:before {
    content: "\e911";
}
.icon-map_point:before {
    content: "\e912";
}
.icon-cards:before {
    content: "\e913";
}
.icon-plane:before {
    content: "\e914";
}
.icon-picker:before {
    content: "\e916";
}
.icon-heart:before {
    content: "\e917";
}
.icon-pen:before {
    content: "\e91a";
}

