
.parallax-viewport {
    position: fixed;
    overflow: hidden;
	width:100%;
	height:100%;
}

.layer {
    position: absolute;
	width:100%;
	height:100%;
	display:none!important;
}

@include phablet {

	.layer {
	    position: absolute;
		width:100%;
		height:100%;
		display:block!important;
	}

}