/*
––––––––––––––––––––––––––––––––––––
   ██████╗ ██████╗ ██████╗ ███████╗
  ██╔════╝██╔═══██╗██╔══██╗██╔════╝
  ██║     ██║   ██║██████╔╝█████╗  
  ██║     ██║   ██║██╔══██╗██╔══╝  
  ╚██████╗╚██████╔╝██║  ██║███████╗
   ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚══════╝
––––––––––––––––––––––––––––––––––––
*/

@import "helper/core";

@import "color";
@import "base";

@import "atom/button";
@import "atom/input";
@import "atom/list";
@import "atom/blockquote";
@import "atom/link";
@import "atom/code";
@import "atom/hr";
@import "atom/tag";
@import "atom/select";
@import "atom/underlined-link";
@import "atom/special-button";
@import "atom/parallax";

@import "molecule/inclined";
@import "molecule/form";
@import "molecule/card";

@import "component/modal";
@import "component/navbar";
@import "component/fixed-background";
@import "component/burger-menu";
@import "component/scroll-progress";
@import "component/article";
@import "component/side-menu";
@import "component/share-menu";
@import "component/video-handler";
@import "component/preloader";
@import "component/say-hi-circle";
@import "component/photo-circle";

@import "template/guidelines";
@import "template/about";
@import "template/nav";
@import "template/timeline";
@import "template/contact";
@import "template/blog";
@import "template/article";
@import "template/project";
@import "template/intro";
@import "template/galleries";
@import "template/gallerie";

#app-container, #app-container>div, .screen-box  {
	width:100%;
	height:100%;
}

// #app-container>div:before {
//     content: ' ';
//     display: block;
//     position: fixed;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: -1;
//     opacity: 0.6;
// 	background-image: url('../images/patterns/old_wall.png');
//   background-repeat: repeat-xy;
// }

iframe {
  width:100%;
}

@keyframes levitate{
  0% {
      transform: translateY(-10px);
  }
  50% {
      transform: translateY(0px);
  }
  100%{
      transform: translateY(-10px);
  }

}

.levitation {
  animation: levitate 3s alternate ease-in-out infinite; 
}


#preload-1 { background: url(~/images/portfolio/pngs/derock_desktop.png) no-repeat -9999px -9999px; }
#preload-2 { background: url(~/images/portfolio/pngs/derock_phone.png) no-repeat -9999px -9999px; }
#preload-3 { background: url(~/images/portfolio/pngs/ethienne_desktop.png) no-repeat -9999px -9999px; }
#preload-4 { background: url(~/images/portfolio/pngs/ethienne_phone.png) no-repeat -9999px -9999px; }
#preload-5 { background: url(~/images/portfolio/pngs/framework_desktop.png) no-repeat -9999px -9999px; }
#preload-6 { background: url(~/images/portfolio/pngs/jab_desktop.png) no-repeat -9999px -9999px; }
#preload-7 { background: url(~/images/portfolio/pngs/jab_phone.png) no-repeat -9999px -9999px; }
#preload-8 { background: url(~/images/portfolio/pngs/microsite_desktop.png) no-repeat -9999px -9999px; }
#preload-9 { background: url(~/images/portfolio/pngs/microsite_phone.png) no-repeat -9999px -9999px; }
#preload-10 { background: url(~/images/portfolio/pngs/peon_desktop.png) no-repeat -9999px -9999px; }
#preload-11 { background: url(~/images/portfolio/pngs/peon_phone.png) no-repeat -9999px -9999px; }

.underline-by-scale {
  @include underline-by-scale(color("primary", "base"));
}
.underline-by-left {
  @include underline-by-left(color("primary", "base"));
}
.underline-by-right {
  @include underline-by-right(color("primary", "base"));
}
.underline-by-double {
  @include underline-by-double(color("primary", "base"));
}
.underline-fancy {
  @include underline-fancy(color("primary", "base"));
}